<h3>Thank you, your question has been submitted</h3>
<p>We will try to answer your question soon god willing</p>

<p>
  <b>Email:</b>
  <%=h @question.email %>
</p>

<p>
  <b>Question:</b>
  <%=h @question.question %>
</p>
