<% content_for :marginNavigation do %>
    <%= render :partial => "proof_of_quran_navigation" %>
<% end %>

<div class="box">
    <h1>Accurate Prediction of the Future</h1>

    <p>
        There are verses in the Quran that accurately mention events in the future. One of which is
        the defeat of the Romans.
    </p>

    <p class="quote">
        The Romans have been defeated (2)
        In the nearer land, and they, after their defeat will be victorious (3)
        In a few (less then ten) - Allah's is the command in the former case and in the latter - and in that day believers will rejoice (4)
        In Allah's help to victory. He helpeth to victory whom He will. He is the Mighty, the Merciful. (5)
        It is a promise of Allah. Allah faileth not His promise, but most of mankind know not. (6)
        <%= render :partial => "ourpurpose/quran", :locals => { :surat => 30, :ayat_from => 2, :ayat_to => 6} %>
    </p>

    <p>
        These verses were revealed around 620 AD, almost seven years after the severe defeat of Christian Byzantium at the hands of the idolater Persians.
        Yet it was related in the verses that Byzantium would shortly be victorious.
    </p>

    <p>
        In short, everyone was expecting the Byzantine Empire to be destroyed.
        But right at that moment, the first verses of Sura Rum were revealed,
        announcing that Byzantium would triumph in a few years time. This victory seemed so impossible that Arab polytheists had gone so far as to make fun of these verses.
        They thought that the victory announced in the Qur'an would never come true.
    </p>

    <p>
        Around seven years after the revelation of the first verses of Chapter Rum,
        in December 627 AD, a decisive battle between Byzantium and the Persian
        Empire was fought at Nineveh. And this time the Byzantine army unexpectedly
        defeated the Persians. A few months later, the Persians had to make an
        agreement with Byzantium, which obliged them to return the territories
        they had taken from it.
    </p>

    <p class="bottom">
        "The victory of the Romans,"
        proclaimed by God in the Qur'an, miraculously came true.
    </p>
</div>