<% content_for :marginNavigation do %>
    <%= render :partial => "proof_of_quran_navigation" %>
<% end %>

<div class="box">
    <h1>Giving an Enemy an Opportunity to prove Quran wrong</h1>

    <p>
        In the time of the <%=render "ourpurpose/prophet"%>
        there was a man called <strong>Abu Lahab</strong> who was one of the staunchest
        enemies of the <%=render "ourpurpose/prophet"%>.
    </p>

    <p>
        He went out of his way and lied to try and prove that the
        <%=render "ourpurpose/prophet"%> was wrong.
    </p>

    <p>
        There is a Chapter in the Quran called Al-Massad that mentions
        that <strong>Abu Lahab</strong> and his wife will burn in hell fire, indicating that
        they will never become Muslim.
    </p>

    <p>
        This Chapter was revealed 10 years before the death of <strong>Abu Lahab</strong>. When it was
        revealed all <strong>Abu Lahab</strong> has to do was accept Islam and the Quran would
        have been proven wrong.
    </p>

    <p>
        It would have been so easy for him to prove it wrong,
        all he had to say was <strong>'I am a Muslim'</strong>, not actually behave like that.
        He could have just told a lie like he did in the past.
    </p>

    <p class="bottom">
        But he could not, because the Quran is from Allah and he knows that
        <strong>Abu Lahab</strong> will never accept Islam.
    </p>
</div>