<% content_for :marginNavigation do %>
    <%= render :partial => "proof_of_quran_navigation" %>
<% end %>

<div class="box">
    <h1>Challenge to find Contradictions</h1>

    <p class="quote">
        Do they not then consider the Qur'an carefully? Had it been from other than Allah, they would surely have found
        therein many contradictions. (82)
        <%= render :partial => "ourpurpose/quran", :locals => { :surat => 4, :ayat => 82 } %>
    </p>

    <p>
        When you read this verse you can see that
        the Quran itself states that there should be many contradictions found
        in it if it was from other that Allah. The attitude in the Quran here is
        remarkable. It is against human
        nature to write like this. For example a person wouldn't write on a exam
        paper a note to the examiner challenging them to find a mistake.
    </p>

    <p class="bottom">
        However if you search the internet you will find people claiming they have found contradictions,
        despite Muslims having clear answers for them. The claims are always due to
        misinterpretations, mistranslations, things being taken out of context or are just false.
    </p>
</div>