<% content_for :marginNavigation do %>
    <%= render :partial => "proof_of_quran_navigation" %>
<% end %>

<div class="box">
    <h1>Preservation of the Quran</h1>

    <p>
        Islam holds that the Quran is divinely protected by the Creator
        and has remained preserved in its true original form since its
        revelation of 1,400 years ago.
    </p>

    <p>
        This is evidenced by the manuscripts dating back to the very first time it
        was compiled.
    </p>

    <p>
        When historic Quranic manuscripts dating back to its revelation
        in the 7th century are compared to the Quran that is available today,
        they show that not even one letter, let alone one word, is missing or 
        out of place.
    </p>

    <p>
        <strong>Despite peoples efforts to change or distort the Quran throughout history it has miraculously been preserved.</strong>
        There is only one version of the Quran.
    </p>

    <p>
        It is a miracle that the Quran has remained unchanged and unaltered
        and shall remain so.
    </p>

    <p class="quote">
        Verily We: It is We Who have sent down the Dhikr (i.e. the Qur'an) and surely, We will guard it (from
        corruption)[]
        (9)
        <%= render :partial => "ourpurpose/quran", :locals => { :surat => 15, :ayat => 9 } %>
    </p>

    <p class="quote bottom">
        Do they not then consider the Qur'an carefully? Had it been from other than Allah, they would surely have found therein many contradictions.
        <%= render :partial => "ourpurpose/quran", :locals => { :surat => 4, :ayat => 82 } %>
    </p>
    
</div>