<% content_for :marginNavigation do %>
    <%= render :partial => "proof_of_quran_navigation" %>
<% end %>

<div class="box">
<h1>What Scientists Say</h1>

<p>
    There are many scientific miracles of the Quran,
    read these quotes to see what some scientists have said about the
    Quran.
</p>


<div class="scientistQuotes">
    <strong>Prof. Gerald G. Goeringer</strong>

    <p class="quote">
        "In a relatively few ayahs (Quranic verses)
        is contained a rather comprehensive description
        of human development from the time of commingling
        of the gametes through organogenesis. No such distinct
        and complete record of human development, such as classification,
        terminology, and description, existed previously. In most, if not
        all, instances, this description antedates by many centuries the
        recording of the various stages of human embryonic and fetal
        development recorded in the traditional scientific literature."
    </p>
</div>

<div class="scientistQuotes">
    <strong>Prof. William W. Hey</strong>

    <p class="quote">
        "I find it very interesting that this sort of information is in
        the ancient scriptures of the Holy Quran, and I have no way of
        knowing where they would come from, but I think it is extremely
        interesting that they are there and that this work is going on to
        discover it, the meaning of some of the passages."
    </p>

    <p>
        And when he was asked about the source of the Quran, he replied:
    </p>

    <p class="quote">
        "Well, I would think it must be the divine being."
    </p>
</div>
<div class="scientistQuotes">
    <strong>Prof. E. Marshall Johnson</strong>

    <p>
        In 1981, during the Seventh Medical Conference in Dammam,
        Saudi Arabia, Professor Johnson said in the presentation of
        his research paper:
    </p>

    <p class="quote">
        "The Quran describes not only the development of external form,
        but emphasizes also the internal stages, the stages inside the embryo, of its creation and development,
        emphasizing major events recognized by contemporary science."
    </p>

    <p>He also said:</p>

    <p class="quote">
        "As a scientist, I can only deal with things which I can specifically see.
        I can understand embryology and developmental biology. I can understand the
        words that are translated to me from the Quran. As I gave the example before,
        if I were to transpose myself into that era, knowing what I knew today and
        describing things, I could not describe the things which were described.
        I see no evidence for the fact to refute the concept that this individual,
        Muhammad, had to be developing this information from some place. So I see
        nothing here in conflict with the concept that divine intervention was
        involved in what he was able to write."
    </p>
</div>

<div class="scientistQuotes">
    <strong>Prof. T. V. N. Persaud</strong>

    <p class="quote">
        "...Muhammad .. could not read, didn't know to write.
        - You have someone illiterate making profound pronouncements
        - amazingly accurate about scientific nature. [so] many accuracies
        - I have no difficulty in my mind that this is a divine inspiration
        or revelation which led him to these statements."
    </p>
</div>
<div class="scientistQuotes">
    <strong>Prof. Alfred Kroner</strong>

    <p class="quote">
        "Thinking about many of these questions and thinking
        where Muhammad came from, he was after all a Bedouin.
        I think it is almost impossible that he could have known
        about things like the common origin of the universe, because
        scientists have only found out within the last few years with
        very complicated and advanced technological methods that this is the case."
    </p>

    <p class="quote">
        "Somebody who did not know something about nuclear physics 1400 years
        ago could not, I think, be in a position to find out from his own mind
        for instance that the earth and the heavens had the same origin, or many
        others of the questions that we have discussed here."
    </p>
</div>
<div class="scientistQuotes">
    <strong>Prof. Keith Moore</strong>

    <p class="quote">
        "It has been a great pleasure for me to help clarify statements in the
        Quran about human development. It is clear to me that these statements
        must have come to Muhammad from God, or Allah, because most of this knowledge
        was not discovered until many centuries later.
        This proves to me that Muhammad must have been a messenger of God or Allah"
    </p>
</div>

<div class="scientistQuotes">
    <strong>Prof. Joe Simpson</strong>

    <p>
        Professor Simpson studied the following two sayings of the Prophet Muhammad:
    </p>
    <ul>
        <li class="quote">
            "In every one of you, all components of your creation are collected together
            in your mother's womb by forty days..."
        </li>
        <li class="quote">
            "If forty-two nights have passed over the embryo, God sends an angel to it,
            who shapes it and creates its hearing, vision, skin, flesh, and bones..."
        </li>
    </ul>
    <p>
        Then, during one conference, he gave the following opinion:
    </p>

    <p class="quote">
        "It follows, I think, that not only there is no conflict between
        genetics and religion but, in fact, religion can guide science
        by adding revelation to some of the traditional scientific approaches,
        that there exist statements in the Quran shown centuries later to be valid,
        which support knowledge in the Quran having been derived from God."
    </p>
</div>

<div class="scientistQuotes">
    <strong>Prof. Yoshihide Kozai</strong>

    <p class="quote">
        "I am very much impressed by finding true astronomical facts in [the] Quran,
        and for us the modern astronomers have been studying very small pieces
        of the universe. We've concentrated our efforts for understanding of [a]
        very small part. Because by using telescopes, we can see only very few parts
        [of] the sky without thinking [about the] whole universe. So, by reading [the]
        Quran and by answering to the questions, I think I can find my future way for
        investigation of the universe."
    </p>
</div>

<div class="scientistQuotes">
    <strong>Prof. Tejatat Tejasen</strong>

    <p class="quote">
        "During the last three years, I became interested in the Quran....
        From my study and what I have learned from this conference,
        I believe that everything that has been recorded in the Quran
        fourteen hundred years ago must be the truth, that can be proved by the
        scientific means. Since the Prophet Muhammad could neither read nor write,
        Muhammad must be a messenger who relayed this truth, which was revealed to
        him as an enlightenment by the one who is eligible [as the] creator.
        This creator must be God. Therefore, I think this is the time to say
        La ilaha illa Allah, there is no god to worship except Allah (God),
        Muhammadur rasoolu Allah, Muhammad is Messenger (Prophet) of Allah (God).
        Lastly, I must congratulate for the excellent and highly successful
        arrangement for this conference.... I have gained not only from the
        scientific point of view and religious point of view but also the great
        chance of meeting many well-known scientists and making many new friends
        among the participants. The most precious thing of all that I have gained
        by coming to this place is La ilaha illa Allah, Muhammadur rasoolu Allah,
        and to have become a Muslim."
    </p>

</div>

<strong>Allah says in the Quran:</strong>

<p class="quote">
    We will show them Our Signs in the universe, and in their own selves,
    until it becomes manifest to them that this (the Qur'an) is the truth.
    Is it not sufficient in regard to your Lord that He is a Witness
    over all things?
    <%= render :partial => "ourpurpose/quran", :locals => { :surat => 41, :ayat => 53 } %>
</p>

<p class="bottom">
</p>
</div>