<div class="box">
    <h3>Reflections</h3>
    <ul class="bottom">
        <li class="first"><%= link_to 'Is the Universe Infinite?', :action => 'infinite_universe'%></li>
        <li><%= link_to 'Can Something come from Nothing?', :action => 'something_from_nothing'%></li>
     </ul>
</div>
<div class="box">
    <h3>Recommended Reading</h3>
    <ul class="bottom">
        <li><%= link_to "Refuting 'The God Delusion'",
                'http://hamzatzortzis.blogspot.com/2007/05/refuting-dawkins-part-1.html',
                :target => '_blank'
        %></li>
     </ul>
</div>


