<% content_for :marginNavigation do %>
    <%= render :partial => "the_creator_section_navigation" %>
<% end %>

<div class="box">

<h1>The Creator</h1>

<p>
    Can you think of anything in the universe that was not created,
    that has no beginning and no end?
</p>

<p>
    The answer is no.
</p>

<p>
    This is because everything we know of has three key attributes:
</p>

<ul>
    <li><strong>It has a beginning</strong> - there was a point in time it did not exist then there was a point of
        creation where the object came into existence
    </li>
    <li><strong>It has an end</strong> - there is a point of extermination where the item ceases to exist</li>
    <li><strong>It was created by something else</strong> - it relied on something else to bring it into existence</li>
</ul>

<p>
    Everything we can comprehend will adhere to these 3 rules as can be seen below:
</p>

<table>
    <tr>
        <th/>
        <th>Beginning</th>
        <th>End</th>
        <th>Created By</th>
    </tr>
    <tr>
        <td>Mobile Phone</td>
        <td>Production line</td>
        <td>Decomposition</td>
        <td>Manufacturer</td>
    </tr>
    <tr>
        <td>Rock</td>
        <td>Mineral deposits</td>
        <td>Erosion</td>
        <td>Earth crust</td>
    </tr>
    <tr>
        <td>Man</td>
        <td>Birth</td>
        <td>Death</td>
        <td>Parents</td>
    </tr>
    <tr>
        <td>Fruit Tree</td>
        <td>Germination</td>
        <td>Withering</td>
        <td>Fruit seeds</td>
    </tr>
</table>

<p>
    Even the universe is made up entirely of things that have a beginning,
    an end and were created by something else,
    therefore the universe as a whole will have a beginning,
    an end and something else that created it.
</p>

<p>
    If everything has a beginning and an end, and everything
    relies on something else to bring it into existence,
    then the obvious question is what started it all?
</p>

<p>
    If everything relies on something else to bring it into existence,
    then what was the very first thing?
</p>

<p>
    Who was the first man?
</p>

<p>
    What was the first living thing?
</p>

<p>
    How did the universe come into existence?
</p>

<p>
    The answer is quite simply, the very first thing does not
    adhere to the above 3 rules.
</p>

<ul>
    <li>
        <strong>It does not have a beginning</strong>
    </li>

    <li>
        <strong>It does not have an end</strong>
    </li>

    <li>
        <strong>It was not created, it is everlasting</strong>
    </li>
</ul>

<p>
    Therefore this "very first thing" is the Creator,
    and it was through this Creator that everything we know of came into existence.
</p>

<p>
    The difference between the Creator and Creation is that
    the Creator is not bound by the above 3 rules, whereas all of
    Creation is bound by them.
</p>

<p>
    As Muslims we call the Creator Allah. Allah is totally unique,
    there is nothing like Him, He does not share the attributes of the
    things that are created and the created things do not share His attributes.
    He does not have a beginning, nor does he have an end. He was not created
    and is not dependant on anything.
</p>

<p>Allah tells us in the Quran:</p>

<p class="quote bottom">
    "Say (O Muhammad (SAW)): "He is Allah, (the) One. (1) "Allah-us-Samad [Allah the
    Self-Sufficient Master, Whom all creatures need, (He neither eats nor drinks)].
    (2)"He begets not, nor was He
    begotten;(3) "And there is none co-equal or comparable unto Him." (4))"
    <%= render :partial => "ourpurpose/quran", :locals => { :surat => 112, :ayat_from => 1, :ayat_to => 4 } %>
</p>


</div>