<% content_for :marginNavigation do %>
    <%= render :partial => "the_creator_section_navigation" %>
<% end %>

<div class="box">

    <h1>Can the Universe be Infinite?</h1>

    <p>
        Some people will argue that the Universe is infinite, but have you ever actually tried to
        comprehend infinity?
    </p>

    <p>
        Have you ever thought about if there really could be infinite history? No matter
        how far you looked back in history you could still keep going and there would
        still be more history there?
    </p>

    <p>
        This can be thought of like reserving a book from the university library that
        is in heavy demand.
    </p>

    <p>
        If there were four people in the queue before you for the book then
        you would have to wait for the four to finish before using it for your assignment.
    </p>

    <p>
        Similarly if there were four thousand people in the queue before you for the book
        then you would have to wait for the four thousand to finish before using it.</p>
    <p>
        If an unlimited, infinite (i.e. endless) number of reservations stood between
        you and the book you would never receive it as an endless number sequence would
        never end...
    </p>

    <p>
        It is not possible for an event to exist at the end of an endless
        chain of events thus we cannot exist at the end of infinity.
    </p>

    <p>
        <strong>The universe has not always existed.</strong>
    </p>

    <p class="quote bottom">
        "...the infinite is nowhere to be found in reality. 
        It neither exists in nature nor provides a legitimate basis for rational
        thought. The role that remains for the infinite to play is solely that
        of an idea".(Hilbert, 1964, p139)
    </p>


</div>