<h3>Concept of Worship</h3>

<p>
    The concept of worship is commonly misunderstood
</p>

<p>
    When people think of worship they normally think of doing
    ritualistic acts like praying, fasting
    and charity.
</p>

<p>
    This is a limited understanding of worship as it
    only covers on part of worship.
</p>

<p>
    The definition of worship in Islam is a more comprehensive definition that
    includes almost anything in someones activities.
</p>

<p>
    <strong>Worship is everthing one says or does for the pleasure of The Creator</strong>.
</p>

<p>
    This can include rituals, beliefs, social activities, obeying,
    legislating and ruling by Allah's laws alone, and contributions to the
    welfare of one's fellow humans beings.
</p>