<h3>Salautaions</h3>

<p>
    Peace be upon him is a phrase that practising Muslims often
    say after saying (or hearing) the name of a prophet of Islam.
</p>

<p class="quote">
    Lo! Allah and His angels shower blessings on the Prophet. O ye who believe!
    Ask blessings on him and salute him with a worthy salutation.
    <%= render :partial => "ourpurpose/quran", :locals => { :surat => 33 , :ayat => 56 }%>
</p>