<% content_for :marginNavigation do %>
    <%= render :partial => "exhausting_the_alternatives_navigation" %>
<% end %>

<div class="box">
    <h1>Arab Unity and Liberation</h1>

    <p>
        There is not a single verse in the Quran that singles
        out the Arabs and speaks about Arabic unity.
    </p>

    <p>
        The Quran talks about unity, evidence in the Quran is:
    </p>

    <p class="quote">
        O mankind! We have created you from a male and a female,
        and made you into nations and tribes, that you may know one another.
        Verily, the most honourable of you with Allah is that (believer)
        who has At-Taqwa [i.e. he is one of the Muttaqun (pious - see V.2:2).
        Verily, Allah is All-Knowing, All-Aware. (13)
        <%= render :partial => "ourpurpose/quran", :locals => { :surat => 49, :ayat => 13 } %>
    </p>

    <p>
        The criteria is not gender, cast, colour or nation, it is taqwa,
        god consciousness and righteous.
    </p>

    <p>
        In Quran, Allah talks about unity of the believers, not Arabs:
    </p>

    <p class="quote">
        And hold fast, all of you together, to the Rope of Allah (i.e. this Qur'an),
        and be not divided among yourselves[], and remember Allah's Favour on you,
        for you were enemies one to another but He joined your hearts together, so that,
        by His Grace, you became brethren (in Islamic Faith), and you were on the brink
        of a pit of Fire, and He saved you from it. Thus Allah makes His Ayat (proofs,
        evidences, verses, lessons, signs, revelations, etc.,) clear to you, that you
        may be guided. (103)
        <%= render :partial => "ourpurpose/quran", :locals => { :surat => 3, :ayat => 103 } %>
    </p>

    <p class="bottom">
        The Quran talks about Maryam and has chosen her above all women, including Arabs.
        If <%=render "ourpurpose/prophet"%> wrote the Quran he could have chosen his own wife or daughter but he chose a
        non Arab woman above all the Arabs?
    </p>

</div>