<% content_for :marginNavigation do %>
    <%= render :partial => "exhausting_the_alternatives_navigation" %>
<% end %>

<div class="box">
    <h1>Refutation that the Quran is a deception</h1>

    <p>
        When asked point out a deception in the Quran, people cannot provide it.
        So if the Quran is a deception then where is the deception?
    </p>

    <p>
        Quran believes in reasoning. There is a misconception that people
        think the Quran discourages reasoning and discussion.
    </p>

    <p class="quote">
        This is a clear message for mankind in order that they may
        be warned thereby, and that they may know that He is only
        One God, and that men of understanding may take heed
        <%= render :partial => "ourpurpose/quran", :locals => { :surat => 14, :ayat => 52 } %>
    </p>

    <p class="quote bottom">
        Call unto the way of thy Lord with wisdom and fair exhortation,
        and reason with them in the better way. Lo! thy Lord is Best
        Aware of him who strayeth from His way, and He is best aware
        of those who go aright.
        <%= render :partial => "ourpurpose/quran", :locals => { :surat => 16, :ayat => 125 } %>
    </p>

</div>