<% content_for :marginNavigation do %>
    <%= render :partial => "exhausting_the_alternatives_navigation" %>
<% end %>

<div class="box">
    <h1>Learnt from Warakah</h1>

    <p>
        There are claims that <%= render "ourpurpose/prophet" %>
        learnt the Quran from
        someone called Warakah. <%= render "ourpurpose/prophet" %>
        met him only twice
        in his life:
    </p>

    <ul>
        <li>
            Once before prophethood when Warakah was worshiping
            at the Kaba and another time when revelation first came to
            <%= render "ourpurpose/prophet" %>
        </li>
        <li>
            Three years later Warakah died yet the Quran was
            being revealed for 22 and a half years.
        </li>
    </ul>

    <p class="bottom">
        It is not possible for someone to learn a whole book in two meetings.
    </p>

</div>