<% content_for :marginNavigation do %>
    <%= render :partial => "exhausting_the_alternatives_navigation" %>
<% end %>

<div class="box">
    <h1>Learnt from Jews and Christians</h1>

    <p>
        A claim is that <%=render "ourpurpose/prophet"%> learnt the Quran from
        Jews and Christians when he spent time with them.
    </p>

    <p>
        <%=render "ourpurpose/prophet"%> used to give the invitation to Islam
        to jews and christians
        after migrating to Madina, which was 13 years after revelation started.
    </p>

    <p class="bottom">
        <%=render "ourpurpose/prophet"%> who advised the jews and christians
        and not vice versa. Many people who discussed with him accepted Islam.
    </p>
    
</div>