<% content_for :marginNavigation do %>
    <%= render :partial => "exhausting_the_alternatives_navigation" %>
<% end %>

<div class="box">
    <h1>Material Gains</h1>

    <p>
        We know that there are people who do claim prophethood for material gains
        to lead a luxurious life.
    </p>

    <p>
        The lifestyle of <%=render "ourpurpose/prophet"%> was more luxurious before
        claiming prophethood. Aisha, Muhammad's wife,  (may Allah be pleased with her) reported that
        there were times that a fire was not lit for a month or two, they used to live only
        on dates.
    </p>

    <p>
        His life was so simple although he has the power to lead the most luxurious life.
        Whatever gift he received he would distribute it. 
    </p>

    <p>
        Allah says in Quran:
    </p>

    <p class="quote">
        Therefore woe be unto those who write the Scripture with their hands and then say,
        "This is from Allah," that they may purchase a small gain therewith.
        Woe unto them for that their hands have written, and woe unto them for
        that they earn thereby. (79)
        <%= render :partial => "ourpurpose/quran", :locals => { :surat => 2, :ayat => 79 } %>
    </p>

    <p class="bottom">
        If <%=render "ourpurpose/prophet"%> had written the
        Quran then he would be cursing himself in his own book.
    </p>

</div>

