<% content_for :marginNavigation do %>
    <%= render :partial => "exhausting_the_alternatives_navigation" %>
<% end %>

<div class="box">
    <h1>Mythomania</h1>

    <p>
        One accusation is that he was suffering from mythomania. This a a psychological
        disorder where a person lies and believes it.
        People who suffer from mythomania can't handle facts.
    </p>

    <p>
        If you analyse, the Quran keeps on giving the facts, so it is a treatment for
        mythomania and not a book written by someone with it.
    </p>

    <p class="bottom">
        An accusation is that he was both crazy and a liar. As people need both
        these accusations to answer certain scenarios. It is not possible for someone
        to be both crazy and a liar. A crazy person responds without thinking. A liar
        thinks before responding. <%=render "ourpurpose/prophet"%> was neither.
    </p>
</div>