<% content_for :marginNavigation do %>
    <%= render :partial => "exhausting_the_alternatives_navigation" %>
<% end %>

<div class="box">
    <h1>Religious Illusion Theory</h1>

    <p>
       There is an accusation that he wrote it from his knowledge and experience without
       knowing he is the actual author of the Quran.
    </p>
    <p class="bottom">
        No person who is crazy can be so consistent, firm and accurate for a period of 22
        and a half years.
    </p>
</div>